body {
    font-family: Arial;
    background-color: #fffdfd;
    text-align: center;
    padding: 50px;
}

h1 {
    color: rgba(194, 76, 101, 0.432);
}
H2 {color:rgb(85, 105, 105)
}

ul {
    list-style: none;
}